/* top */
/*--------------------------------------------------------------------*/
/* 現在ページ表示用 */
/* 列挙 */
.icon-museum::before {
  display: block;  /*ブロックで表示*/

  content: '\f03e';
  font-weight: 900;
}


/*--------------------------------------------------------------------*/
/* メイン */
main {
  height: 1500px;
  /* background-color: rgb(237, 255, 255); */
}

/* 画像配置 */
/* 纏めクラス */
.c-0 {  
  display: flex;    
  flex-wrap: wrap; /* 折返し指定 */
}
/* 個数を選択して折り返し(例：(100％ / 4個)) */
.c-0 div {
  width: calc(100% / 4) ;
}
/* 画像要素まとめて設定 */
.c-0-0 {
  padding: 0;
  margin: 0;
  
  /* アスペクト比固定 */
  aspect-ratio: 1 / 1;

  /* background-color: rgb(212, 253, 253);   */
}
/* 画像要素個別設定 */
.c-0-0[data-name="i-0"] {

  background-color: rgb(255, 237, 237);
}
.c-0-0[data-name="i-1"] {

  background-color: rgb(238, 255, 234);
}
.c-0-0[data-name="i-2"] {

  background-color: rgb(254, 255, 242);
}
.c-0-0[data-name="i-3"] {

  background-color: rgb(237, 241, 255);
}

.c-0-0 img{
  /* 余白を消すため */
  display: block;

  /* 画像を要素の全体に表示する */
  width: 100%;
  height: 100%;

  /* はみ出した所をトリミング */
  object-fit: cover;

  
}





